/nbproject/private/
/pro_gadmsc_spmp-war/nbproject/private/
/pro_gadmsc_spmp-ejb/nbproject/private/
/pro_gadmsc_spmp-ejb/build/
/pro_gadmsc_spmp-war/build/
/pro_gadmsc_spmp-war/dist/
/pro_gadmsc_spmp-ejb/dist/
/build/
/dist/